
  .titulo_qs2{
    display: flex;
    text-align: center;
    color: #ffffff;
    font-size: 5rem;
    font-weight: 800;
    font-family: 'lexend';
    flex-direction: column;
  }
  .container-producto{
    height: 60vh;
    background-image: url(/src/assets/fondoredes.jpg);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }
  .placeholder-image{
    border: solid 4px;
    border-top-color: #f21616;
    border-right-color:#038C3E;
    border-left-color: #038C3E;;
    border-bottom-color:#f21616;
    border-radius: 100%;
    width: 50vh;
    height: 50vh;
  }

  .texto_producto{
    text-align: center;
    margin: 10vh;
    font-size:4.7vh;
  }

  @media screen and (max-width: 768px) { 
    #layout-producto {
      width: 100%;
  }

  .container-producto {
    display: flex;
    flex-direction: row;
  }

  .content-producto {
      flex-direction: column; 
      text-align: center;
      height: 100%;
  }


  .placeholder-image {
      height: auto; 
      width: 50%; 
      max-width: 50%; 
  }


  .titulo_qs2{
    display: flex;
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'lexend';
    flex-direction: column;
  }
  .texto_producto{
    text-align: center;
    margin: 1vh;
    font-size:1.5rem;
  }
} 