.h1-recetas{
  height: 60vh;
  display: flex;
  text-align: center;
  background-image: url(/src/assets/fondoredes.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 5rem;
  font-weight: 800;
  font-family: 'lexend';
  justify-content: space-evenly;
  align-items: center;
}
.recetaimg{
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  border: solid 4px;
  border-top-color: #f21616;
  border-right-color:#038C3E;
  border-left-color: #038C3E;;
  border-bottom-color:#f21616;
}

.carousel{
  display: flex;
  justify-content: center;
  background-image: url(/src/assets/fondoredes1.png);
  background-position: right  bottom 20%;
}

.productos__articulos-container{
  display: flex;
  align-items: center;
  margin: 10vh;
}

.producto__articulo {
  display: flex;
  background: rgba(255, 252, 252, 0.699);
  border-radius: 2%;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0px #e7c0caf1;
  width: 80vh;
  height: 80vh;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.productos__articulo-img{
  height: 30vh;
  width: 50vh;
  border-radius: 6%;
}

.productos__articulo-nombre{
  font-weight: 800;
  text-align: center;
  margin: 7vh;
  font-size: 2rem;
  max-height: 5%;
}
.productos__articulo-ver{
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  color: #fffefe;
  padding: 2vh;
  border-radius: 13px;
  background-color: #db164b;
  font-family: 'Lexend';
  cursor: pointer;
  text-decoration: none;
  margin: 3vh;

}
.productos__articulo-ver :hover{
  background-color:  grey;
}

.productos__articulo-ingrediente {
  width: 70%;
  height: 7vh;
  margin: 2vh;
  text-align: center;
}

.btn-caru{
  margin: 3vh;
  background-color: #f8161600;
  border-style:none;
  color: rgb(7,168,28);
  font-size: 7rem;
  font-family:'Lexend';
  border-radius: 30%;
 
}
.btn-caru:hover{
  text-shadow: 1px 5px 20px rgb(248, 13, 13);
  color: #db164b; 
}
@media screen and (max-width: 768px) {
  main {
      flex-direction: column; 
      align-items: center; 
  }

  .productos-contenido {
      margin: 3vh;
  }

  .titulo {
      font-size: xx-large; 
  }

  .subtitulo {
      font-size: large; 
  }

  .product-link {
      justify-content: center; 
  }

  .productos__articulos-container {
    gap: 3vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .productos__articulo-nombre {
      font-size: medium; 
      max-width: 80%; 
      max-height: 10%; 
  }

  .productos__articulo-ver {
      font-size: 0.6rem; 
      padding: 1vh;
      margin: 2vh;
  }
  .productos__articulo-img{
    width: 100%;
  }
}

.fade-enter{
  opacity: 0;
}
.fade-exit{
  opacity: 1;
}
.fade-enter-active{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
  transition: opacity 600ms;
}